* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding: 30px;
}

.main-title {
  display: grid;
  place-content: left;
  font-weight: 900;
  letter-spacing: 2px;
}

.main-icon {
  display: grid;
  text-align: right;
  font-weight: 800;
}

.search-input {
  border-radius: 25px !important;
}

.content {
  margin-bottom: 75px;
}

.swiper {
  margin-top: 5px;
}

.swiper-slide1 {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-image: url(https://i.pinimg.com/474x/ce/6b/a8/ce6ba851c765ae5dc39123aadadcf083.jpg);
  background-size: cover;
  background-position: center;
}

.swiper-slide2 {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-image: url(https://i.pinimg.com/474x/07/94/87/079487589f68842adf0aa3ff3e07c3bd.jpg);
  background-size: cover;
  background-position: center;
}

.swiper-slide3 {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(0, 255, 234);
  background-image: url(https://i.pinimg.com/474x/b4/73/29/b4732959d37572e34feb7958caa68078.jpg);
  background-size: cover;
  background-position: center;
}

.swiper-slide4 {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-image: url(https://i.pinimg.com/474x/4f/bf/8d/4fbf8d50a63351ab9ac0326a77b64bd6.jpg);
  background-size: cover;
  background-position: center;
}

.trend-special {
  margin-top: 40px;
  margin-bottom: -12px;
  letter-spacing: 2px;
}

.trend-special a {
  color: black;
}

.trend-special-a {
  margin-top: 50px;
  letter-spacing: 0.5px;
  text-align: right;
}

.card {
  box-sizing: content-box;
  width: 100%;
  height: 170px;
  border-radius: 10px;
  box-shadow: 1px 2px 6px 1px rgb(226, 226, 226);
}

.swiper1 {
  width: 100%;
  height: 175px;
  border-radius: 10px;
}

.card img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-title {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 900;
  color: black;
}

.card-description {
  margin-left: 10px;
  margin-top: -3px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgb(151, 149, 149);
}

.new-product {
  margin-top: 30px;
  margin-bottom: -12px;
  letter-spacing: 2px;
}

.new-product a {
  color: black;
}

.new-product-a {
  margin-top: 40px;
  letter-spacing: 0.5px;
  text-align: right;
}

.navbar {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  z-index: 1;
  background-color: rgb(250, 250, 250);
  text-align: center;
}

.navbar-row {
  display: grid;
  place-items: center;
  width: 100%;
  height: 4rem;
}

.navbar-col {
  display: grid;
  place-items: center;
  text-align: center;
}

.navbar-icon {
  text-align: center;
  font-size: 30px;
  color: rgb(94, 94, 94);
}

.best-sellers {
  margin-top: 30px;
  margin-bottom: -12px;
  letter-spacing: 2px;
}

.best-sellers a {
  color: black;
}

.best-sellers-a {
  margin-top: 40px;
  letter-spacing: 0.5px;
  text-align: right;
}

.shopping-cart {
  display: grid;
  place-content: left;
  font-weight: 900;
  letter-spacing: 1px;
}

.swiper-container {
  margin-top: 20px;
}

.nav-menu {
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
  height: 100vh;
  width: 75%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -100%;
  transition: 800ms;
}

.nav-menu.active {
  right: 0;
  transition: 800ms;
}

.menu-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.menu-text a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-menu-items {
  width: 100%;
  letter-spacing: 1px;
}

.navbar-toggle {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
}

span {
  margin-left: 16px;
}
.close-icon {
  margin-top: 20px;
}

.search {
  display: grid;
  place-items: center;
  margin-right: 30px;
}
